@charset "UTF-8";
/* eric-meyer-reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #ececec;
  color: #fff;
  padding: 10px 10px;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header img.logo {
  display: block;
  height: auto;
  margin-right: 10px;
}

.formContainer {
  max-width: 400px;
  margin: 50px auto;
}

.inputField {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.submitButton {
  padding: 10px 20px;
}

/* 상품 목록 전체 컨테이너 */
.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/* 각 상품을 감싸는 카드 스타일 */
.productCard {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  /* 카드에 마우스 올리면 효과 */
  /* 카드 이미지 */
  /* 상품 제목 */
  /* 상품 가격 */
  /* 카드 하단에 세부 정보 */
  /* 버튼 스타일 */
}
.productCard:hover {
  transform: translateY(-5px); /* 약간 떠 보이게 */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* 더 강한 그림자 */
}
.productCard img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.productCard h3 {
  font-size: 18px;
  color: #333;
  margin: 15px 0 10px;
}
.productCard .price {
  font-size: 16px;
  color: #4caf50;
  font-weight: bold;
  margin-bottom: 10px;
}
.productCard .details {
  font-size: 14px;
  color: #777;
}
.productCard .viewBtn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}
.productCard .viewBtn:hover {
  background-color: #2980b9;
}